<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orb Background Example</title>
    <link rel="stylesheet" href="front/static/css/index.css" />
  </head>
  <body>
    <canvas id="orb-canvas"></canvas>
    <h1 class="web">Where your resume meets<br />its smartest reviewer</h1>
    <h1 class="mobile">AIerview is smartest reviewer</h1>
    <div class="glass-btn-row">
      <button class="glass-btn">practice</button>
      <button class="glass-btn">interview</button>
    </div>
    <script type="module" src="front/static/js/index.js"></script>
  </body>
</html>
