/* base.css: 공통 리셋 및 기본 스타일, 폰트, root 색상 변수 */
@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* 라이트모드 색상 */
  --color-bg: #fff;
  --color-bg-gradient: linear-gradient(120deg, #fff 0%, #f3f3f3 100%);
  --color-container: rgba(255, 255, 255, 0.98);
  --color-section-bg: rgba(245, 245, 245, 0.85);
  --color-border: #222;
  --color-primary: #111;
  --color-primary-light: #444;
  --color-primary-hover: #222;
  --color-primary-hover2: #000;
  --color-text: #111;
  --color-button-text: #fff;
  --color-textarea-bg: #fafafa;
  --color-textarea-border: #d1d5db;
  --color-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  --color-shadow-btn: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}
[data-theme="dark"] {
  /* 다크모드 색상 */
  --color-bg: #111;
  --color-bg-gradient: linear-gradient(120deg, #181818 0%, #232323 100%);
  --color-container: rgba(24, 24, 24, 0.98);
  --color-section-bg: rgba(34, 34, 34, 0.85);
  --color-border: #e5e5e5;
  --color-primary: #fff;
  --color-primary-light: #bbb;
  --color-primary-hover: #eee;
  --color-primary-hover2: #fff;
  --color-text: #f3f3f3;
  --color-button-text: #111;
  --color-textarea-bg: #232323;
  --color-textarea-border: #444;
  --color-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  --color-shadow-btn: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 100;
  background: var(--color-bg-gradient);
  color: var(--color-text);
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

main {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

h1,
p {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Paperlogy-8ExtraBold", sans-serif;
  color: var(--color-primary);
}
h2 {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Pretendard-Regular", sans-serif;
  color: var(--color-primary-light);
  font-weight: 400;
}
