/* @import url("../static/css/theme.css");
@import url("../static/css/button.css");
@import url("../static/css/base.css");
@import url("../static/css/main.css"); */

@import url("theme.css");
@import url("button.css");
@import url("base.css");
@import url("main.css");

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 반응형 레이아웃 */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
    /* min-height: unset; */
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }
}
